.footer{
    padding-left: 40px;
    padding-right: 865px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #343a40;
    color: white;
    font-style: italic;
    position: sticky;
    top: 100%;
}

.wrapper {
    position: relative
}